* {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #222222;
    padding: 0;
    margin: 0;
    text-align: left;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, a, b, i, ins, span, div, input, textarea, select, option, li, ul, p, fieldset {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #222222;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border: 0;
}

td, th {
    border: 0;
    overflow: hidden;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

a {
    color: #333355;
    text-decoration: none;
}

a:hover {
    color: #666699;
    text-decoration: underline;
}

img {
    border: none;
    vertical-align: middle;
}

.container {
    text-align: center;
}

.wrap {
    text-align: left;
    margin: 0 auto;
    width: 960px;
    clear: both;
    float: none;
    display: block;
    zoom: 1;
    overflow: hidden;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.message {
    border: 1px solid #FFCCAA;
    background-color: #FCFADF;
    color: #7799cc;
    padding: 10px;
    margin: 20px;
    line-height: 22px;
}

.message pre {
    color: #237DAF;
    line-height: 22px;
}

.warning {
    border: 1px solid #74AFF8;
    background: #ADE5FF url(../img/ico_foc.gif) no-repeat 10px 10px;
    color: #2244AA;
    padding: 10px 10px 10px 40px;
    margin: 20px 10px;
    line-height: 22px;
}

.error {
    border: 1px solid #F8AF8A;
    background: #fC8740 url(../img/ico_err.gif) no-repeat 10px 10px;
    color: #0045AA;
    padding: 10px 10px 10px 40px;
    margin: 20px 10px;
    line-height: 22px;
}

/* for button */
.e_btn {
    background: #237DAF;
    border-color: #ABCDEF #4979AC #4979AC #ABCDEF;
    font-weight: bold;
    overflow-x: visible;
    border: solid 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 28px;
    line-height: 20px;
    padding: 3px 15px;
    text-align: center;
}

a.e_btn:hover {
    color: #eeeeee;
    background: #3490C9;
}

/* for text */
.e_txt {
    border: 1px solid #CCCCCC;
    font-size: 14px;
    height: 22px;
    padding: 4px 8px;
    color: #666666;
    width: 200px;
    vertical-align: middle;
}

/* for element focus */
.e_foc {
    border-color: #FFAA66;
    background: #FFFFCC;
    color: #666666;
}

/* for error */
.e_err {
    border-color: #FFFF00;
    background: #FF0000;
    color: #FFFFFF;
}

/* for check box */
.e_chb {
    vertical-align: middle;
}

/* for radio */
.e_rad {
    vertical-align: middle;
}

/* for selector */
select {
    height: 25px;
}

option {
    line-height: 25px;
}

.e_sel {
}

/* for text area */
.e_tar {
}

/* for check code */
.e_code {
    width: 60px;
}

/* for left align */
.e_l {
    text-align: left;
}

/* for right align */
.e_r {
    text-align: right;
}

/* for center align */

.c_red {
    color: red;
}

.s_pwd {
    width: 150px;
}

.s_msg {
    font-size: 14px;
    line-height: 25px;
    padding: 20px;
}

.s_msg a {
    font-size: 14px;
    text-decoration: underline;
    color: #ff6622;
}

.s_url {
    font-size: 12px;
    line-height: 25px;
    padding: 0 20px;
    color: #666666;
    text-align: right;
}

.f_box_r {
    border: 1px solid #FFAA66;
    background: #FFFFDD;
    float: right;
}

.f_box_r h6 {
    padding: 5px;
    color: #FF6600;
    line-height: 20px;
    font-size: 12px;
    border-bottom: 1px solid #FFAA66;
    margin: 1px;
}

.f_box_r div {
    margin: 6px;
    line-height: 22px;
    color: #666666;
}

.f_box_r ul {
}

.f_box_r ul li {
    list-style: square;
    margin-left: 15px;
    line-height: 22px;
    color: #666666;
}

/* for table of form */
table.t_f {
    width: 680px;
    margin: 0 auto;
}

table.t_f td, table.t_f th {
}

table.t_f th {
}

table.t_f td {
    padding: 4px;
}

table.t_f .label {
    width: 120px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    text-align: right;
}

table.t_f .input {
    text-align: left;
    font-size: 14px;
}

table.t_f .input em {
    font-weight: bold;
    color: #F08300;
    margin-left: 5px;
    font-style: normal;
    font-size: 17px;
    line-height: 25px;
}

table.t_f .input ins {
    color: #999999;
    margin-left: 5px;
    font-style: normal;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
}

table.t_f .msg {
    vertical-align: middle;
    line-height: 18px;
    width: 260px;
    padding-left: 25px;
}

table.t_f .err {
    background: url(../img/ico_err.gif) no-repeat 0 8px;
}

table.t_f .hid {
    display: none;
}

table.t_f .suc {
    background: url(../img/ico_suc.gif) no-repeat 0 8px;
}

table.t_f .ini {
    background: url(../img/ico_ini.gif) no-repeat 0 8px;
}

table.t_f .war {
    background: url(../img/ico_war.gif) no-repeat 0 8px;
    color: #888888;
}

table.t_f .tips {
    padding-left: 132px;
    font-size: 12px;
    line-height: 20px;
    color: #88AACC;
}

.box1 {
    width: 700px;
    margin: 20px auto;
    border: 1px solid #B5E0EA;
    overflow: hidden;
    zoom: 1;
}

.box1 h3 {
    margin: 10px;
    border-bottom: 1px solid #237DAF;
    overflow: hidden;
    line-height: 30px;
    text-indent: 5px;
    font-size: 14px;
    color: #237DAF;
}

.box1 h3 em {
    float: right;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    font-style: normal;
}

.box1 h3 a {
    float: right;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #88AACC;
}

.box1 p {
    margin: 20px 15px;
    color: #8888AA;
}

.box2 {
    margin: 10px auto;
    border: 1px solid #B5E0EA;
    overflow: hidden;
    zoom: 1;
}

.box2 h3 {
    margin: 10px;
    border-bottom: 1px solid #237DAF;
    overflow: hidden;
    line-height: 30px;
    text-indent: 5px;
    font-size: 14px;
    color: #237DAF;
}

.box2 h3 em {
    float: right;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    font-style: normal;
}

.box2 h3 a {
    float: right;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #88AACC;
}

.box2 p {
    margin: 20px 15px;
    color: #8888AA;
}

.box3 {
    margin: 10px auto;
    border: 1px solid #B5E0EA;
    overflow: hidden;
    zoom: 1;
}

.box3 h3 {
    margin: 10px;
    border-bottom: 1px solid #237DAF;
    overflow: hidden;
    line-height: 30px;
    text-indent: 5px;
    font-size: 14px;
    color: #237DAF;
}

.box3 h3 em {
    float: right;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    font-style: normal;
}

.box3 h3 a {
    float: right;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #88AACC;
}

.box4 {
    margin: 10px auto;;
    overflow: hidden;
    zoom: 1;
}

.box4 h3 {
    margin: 10px;
    border-bottom: 1px solid #237DAF;
    overflow: hidden;
    line-height: 30px;
    text-indent: 5px;
    font-size: 14px;
    color: #237DAF;
}

.box4 h3 a {
    line-height: 30px;
    text-indent: 5px;
    font-size: 14px;
    color: #237DAF;
}

.box4 h3 em {
    float: right;
    line-height: 30px;
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    font-style: normal;
}

.nob {
    border: none;
}

body {
    background: #FFFFFF;
}

#headlink {
    background: url(../img/headline_bg.gif);
    height: 32px;
    overflow: hidden;
}

#sitelink {
    float: left;
    margin-left: 0;
    display: inline;
}

#sitelink a {
    color: #646464;
    float: left;
    line-height: 30px;
    margin: 0 5px;
    font-size: 13px;
}

#sitelink em {
    background: #666666;
    float: left;
    height: 3px;
    width: 3px;
    margin-top: 14px;
    overflow: hidden;
}

#loginbar {
    float: right;
    line-height: 30px;
}

#loginbar a {
    color: #646464;
    margin: 0 7px;
}

#loginbar a:hover {
    color: #0066FF;
    text-decoration: none;
}

#loginbar strong {
    color: #EE5500;
}

#header {
    height: 68px;
    overflow: hidden;
    zoom: 1;
    background: url(../img/header_bg.gif);
}

#logo {
    float: left;
    display: inline;
}

#logo a {
    background: url(../img/logo.gif) no-repeat;
    float: left;
    width: 278px;
    height: 68px;
}

#lang {
    float: right;
    display: inline;
    margin: 0 5px 0 0;
    line-height: 28px;
}

#lang a {
    color: #FFFFFF;
}

#footer {
    border-top: #E5EFF5 1px solid;
    padding-top: 20px;
    margin: 20px 0;
    text-align: center;
    line-height: 22px;
}

#footer .link {
    text-align: center;
}

#footer .link a {
    margin: 0 5px;
}

#footer .paper {
    text-align: center;
}
.wrap{overflow:hidden;zoom:1;}
#b_left{background:url(../img/box2_left_bg.gif);width:211px;overflow:hidden;float:left;margin-bottom:-99999px;padding-bottom:99999px;}
#b_avatar{clear:both;overflow:hidden;}
#b_avatar .img{float:left;height:64px;width:64px;overflow:hidden;margin:12px;}
#b_avatar .img a{display:block;padding:1px;border:1px #BBBBBB solid;overflow:hidden;}
#b_avatar .img a img{height:60px;width:60px;display:block;}
#b_avatar .txt{float:left;clear:right;}
#b_avatar .txt h5{color:#237DAF;font-size:14px;line-height:23px;margin-top:16px;}
#b_avatar .txt p{margin-top:10px}
#b_avatar .txt a{color:#FF7500;font-weight:bold;font-size:12px;line-height:20px;}

.u_avatar{float:right;line-height:40px;margin-right:30px;text-align:center;width:124px;height:164px;}
.u_avatar div{border:1px solid #BBBBBB;padding:1px;}
.u_avatar div img{height:120px;width:120px;display:block;}

#b_menu{margin:12px 0 0 12px;border-bottom:1px solid #CDEAF1;clear:both;}
#b_menu li{border-top:1px solid #CDEAF1;overflow:hidden;}
#b_menu li a{display:block;height:34px;overflow:hidden;padding-left:65px;line-height:34px;font-size:14px;color:#237DAF;background:url(../img/icon.png) no-repeat 35px 7px;}
#b_menu li a.active{background-color:#FFFFFF;border-left:1px solid #CDEAF1;font-weight:bold;}
#b_menu li a.m_info{background-position:35px 7px;}
#b_menu li a.m_avat{background-position:35px -27px;}
#b_menu li a.m_pswd{background-position:35px -61px;}
#b_menu li a.m_secu{background-position:35px -95px;}
#b_menu li a.m_real{background-position:35px 7px;}
#b_menu li a.m_rech{background-position:35px -129px;}
#b_menu li.new{background:url(../img/new2.gif) no-repeat 160px center;}

#b_box{border:1px solid #E2F1F7;margin:15px;padding:10px 23px;background:#FFFFFF;line-height:25px;font-size:12px;text-align:left;color:#3A59A4;}
#b_box div{text-align:center;color:#F89D3D;}
#b_box div a{color:#F8AD6D;}

#b_right{float:right;margin-right:10px;width:700px;padding-bottom:30px;}

.u_safe_head{width:90%;margin:10px auto;text-align:center;}
.u_safe_head ul{width:90%;margin:auto;}
.u_safe_head ul li{height:30px;line-height:30px;font-size:14px;text-align:left;}
.u_safe_head ul li span{font-size:14px;width:100px;text-align:right;float:left;font-weight:bold;margin-right:20px;}
.u_safe_head ul li p{text-align:left;line-height:22px;font-size:12px;color:#666699;}
.u_safe_head ul li b{font-size:25px;color:#FF0000;}

.u_safe_block{width:80%;margin:20px auto;text-align:center;}
.u_safe_block h4{text-align:left;border-bottom:1px solid #AACCDD;overflow:hidden;color:#2382B5;text-indent:35px;line-height:35px;margin-top:10px;font-size:14px;}
.u_safe_block h4.c{background:url(../img/tips.png) no-repeat 0 -120px;}
.u_safe_block h4.e{background:url(../img/tips.png) no-repeat 0 10px;}
.u_safe_block h4 ins{float:right;font-weight:normal;text-decoration:none;}
.u_safe_block h4 ins a{font-weight:normal;color:#66aadd;}
.u_safe_block p{text-align:left;padding-left:10px;color:#666666;font-size:12px;line-height:20px;}
.u_safe_block div{text-align:left;padding-left:10px;line-height:25px;}
.u_safe_block div a{float:right;margin-right:10px;color:#66aadd;}

.u_safe_blk{width:80%;margin:0 auto 40px;text-align:center;clear:both;}
.u_safe_blk h4{background:url(../img/tips.png) no-repeat 0 -470px;text-align:left;border-bottom:1px solid #AACCDD;overflow:hidden;color:#2382B5;text-indent:35px;line-height:35px;margin-top:10px;font-size:14px;}
.u_safe_blk h4 ins{float:right;font-weight:normal;text-decoration:none;}
.u_safe_blk h4 ins a{font-weight:normal;color:#66aadd;}
.u_safe_blk p{text-align:left;padding-left:10px;color:#666666;font-size:12px;line-height:20px;}
.u_safe_blk td{text-align:left;}

#b_right h3 ins{color:#666666;font-size:12px;text-decoration:none;}
h3 ins{color:#666666;font-size:12px;text-decoration:none;}


.tips{margin-left: 10px;margin-right: 35px;}
.tips a{color: #FF7500;font-weight: bold;}

#rand-nick{background:url(../img/dice.jpg) no-repeat;position: absolute;width: 20px;height: 20px;left: 195px;top: 10px;cursor: pointer;}

.app-recommend{}
.app-recommend h4{}
.app-recommend ul{overflow:hidden;zoom:1;}
.app-recommend ul li{float:left;padding:5px 3px;width:80px;height:60px;text-align:center;overflow:hidden;line-height:20px;}
.app-recommend ul li a{display:block;text-align:center;line-height:30px;}
.app-recommend ul li a img{display:block;margin:auto;width:36px;height:36px;}