<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>我的信息-用户中心</title>
<script src="../static/js/jquery-1.8.3.min.js"></script>
<script src="../static/js/amazeui.min.js" charset="utf-8"></script>
<script src="../static/js/cropper.min.js" charset="utf-8"></script>
<script src="../static/js/custom_up_img.js" charset="utf-8"></script>
<link href="../static/css/selfstyle.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.4.6.0.css">
<link rel="stylesheet" href="../static/css/amazeui.min.css">
<link rel="stylesheet" href="../static/css/amazeui.cropper.css">
<link rel="stylesheet" href="../static/css/custom_up_img.css">
<script type="text/javascript" charset="utf-8">
    window.onload=function(){
        $.ajax({
            url: "/me",   //对应flask中的路由
            type: "POST", //请求方法
            data: {msg: "1"},   //传送的数据
            success: function (data) {  //成功得到返回数据后回调的函数
                $(".strong").append(data.name);
                $(".u_name").append(data.name);
                $("#u_name2").append(data.name);
                $("#u_username").append(data.username);
                $("#u_username2").append(data.username);
                $("#u_username3").append(data.username);
                //$("#ipt_nick").value=(data.username);
                $(".name_txt").attr("value",data.name);
                $(".img_head").attr("src","../" + data.head);
            }
        })
            $(".e_btn2").click(function () {
                var t1 = $(".password0_txt").val();
                var t2 = $(".password_txt").val();
                var t3 = $(".password2_txt").val();
        $.ajax({
            url: "/change",   //对应flask中的路由
            type: "POST", //请求方法
            data: {password0: t1, password: t2, password2: t3},   //传送的数据
            success: function (data) {  //成功得到返回数据后回调的函数
                alert(data.msg);
            }
        })
    })
    $(".e_btn").click(function () {
        var text = $(".name_txt").val();
        $.ajax({
            url: "/changedata",   //对应flask中的路由
            type: "POST", //请求方法
            data: {name: text},   //传送的数据
            success: function (data) {  //成功得到返回数据后回调的函数
                alert(data.msg);
            }
        })
    })
    }

</script>
<style type="text/css">
	.up-img-cover {width: 120px;height: 120px;}
	.up-img-cover img{width: 100%;border: none;vertical-align: middle;}
</style>
<script>
	function mymsg1(){
	var obj = document.getElementById("b_right1");
	obj.style.display="";
	var obj2 = document.getElementById("b_right2");
	obj2.style.display="none";
	var obj3 = document.getElementById("b_right3");
	obj3.style.display="none";
	}
	function mymsg2(){
	var obj = document.getElementById("b_right1");
	obj.style.display="none";
	var obj2 = document.getElementById("b_right2");
	obj2.style.display="";
	var obj3 = document.getElementById("b_right3");
	obj3.style.display="none";
	}
	function mymsg3(){
	var obj = document.getElementById("b_right1");
	obj.style.display="none";
	var obj2 = document.getElementById("b_right2");
	obj2.style.display="none";
	var obj3 = document.getElementById("b_right3");
	obj3.style.display="";
	}
</script>
</head>

<body>

<div id="headlink" class="container">
<div class="wrap">
<div id="sitelink">
<a href="/" target="_blank">首页</a> <em></em>
</div>
<div id="loginbar">
您好,&nbsp;<strong class="strong"></strong>
<a href="/loginout">退出</a>
</div>
</div>
</div>


<div class="wrap">
<div class="box3">

<div id="b_left">
<div id="b_avatar">
	<div class="up-img-cover"  id="up-img-touch" >
        <img src="" alt="点击图片上传" id="img_head" class="img_head">
	</div>
	<div class="txt">
	<h5 class="u_name"></h5>
		<p>
			<a href="/loginout">|                     退出登录 |</a>
		</p>
	</div>
</div>
	<ul id="b_menu">
		<li><a href="javascript:void(0)" class="m_info" onclick="mymsg1()">我的信息</a></li>
		<li><a href="javascript:void(0)" class="m_avat" onclick="mymsg2()">修改信息</a></li>
		<li><a href="javascript:void(0)" class="m_pswd" onclick="mymsg3()">修改密码</a></li>
	</ul>
</div>

<div id="b_right1" class="r1">
<h3>我的信息</h3>
	<div>
		<table class="t_f" style="width:500px;margin-left:10px;">
			<tbody>
				<tr>
					<td class="label">用户名 :</td>
					<td class="input" id="u_username"></td>
				</tr>
				<tr>
					<td class="label">昵称 :</td>
					<td class="input" id="u_name2"></td>
					<td id="msg_un" class="exp">&nbsp;</td>
				</tr>
				<tr>
					<td class="label">&nbsp;</td>
					<td class="input"><a class="e_btn0" onclick="mymsg2()">修改我的信息</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="b_right2" class="r2" style="display: none;">
<h3>修改信息</h3>
	<div>
		<form method="POST" id="uInfo" action="./modify-save.html">
			<table class="t_f">
			<tbody>
				<tr>
					<td class="label">用户名 :</td>
					<td class="input"  id="u_username2"></td>
					<td class="exp">&nbsp;</td>
				</tr>
				<tr>
					<td class="label">昵称 :</td>
					<td class="input" style="position:relative;">
					<input type="text" class="name_txt" name="nick" maxlength="20" id="ipt_nick" value="">
					<em id="rand-nick"></em>
					</td>
					<td id="msg_nick" class="msg" _ctx="昵称"></td>
				</tr>
				<tr>
					<td class="label"></td>
					<td class="input">
					<input type="button" class="e_btn" id="uInfo_btn" value="保存个人信息">
					</td>
					<td id="msg_res"></td>
				</tr>
			</tbody>
			</table>
		</form>
	</div>
</div>

<div id="b_right3" class="r3" style="display: none;">
<h3>修改密码</h3>
	<div>
		<form method="POST" id="m_pswd">
			<table class="t_f">
			<tbody>
				<tr>
					<td class="label">用户名 :</td>
					<td class="input" id="u_username3"></td>
					<td class="exp">&nbsp;</td>
				</tr>
				<tr>
					<td class="label">原密码 :</td>
					<td class="input" style="position:relative;">
					<input type="password" class="password0_txt" name="nick" maxlength="20" id="ipt_nick" placeholder="原密码">
					<em id="rand-nick"></em>
					</td>
					<td id="msg_nick" class="msg" _ctx="昵称"></td>
				</tr>
				<tr>
					<td class="label">新密码 :</td>
					<td class="input" style="position:relative;">
					<input type="password" class="password_txt" name="nick" maxlength="20" id="ipt_nick" placeholder="新密码">
					<em id="rand-nick"></em>
					</td>
					<td id="msg_nick" class="msg" _ctx="昵称"></td>
				</tr>
				<tr>
					<td class="label">确认密码 :</td>
					<td class="input" style="position:relative;">
					<input type="password" class="password2_txt" name="nick" maxlength="20" id="ipt_nick" placeholder="确认密码">
					<em id="rand-nick"></em>
					</td>
					<td id="msg_nick" class="msg" _ctx="昵称"></td>
				</tr>
				<tr>
					<td class="label"></td>
					<td class="input">
					<input type="button" class="e_btn2" id="uInfo_btn" value="保存密码">
					</td>
					<td id="msg_res"></td>
				</tr>
			</tbody>
			</table>
		</form>
	</div>
</div>
</div>
</div>
<div><a style="text-align: center; display: block;"  id="pic"></a></div>
<!--图片上传框-->
<div class="am-modal am-modal-no-btn up-frame-bj " tabindex="-1" id="doc-modal-1">
  <div class="am-modal-dialog up-frame-parent up-frame-radius">
	<div class="am-modal-hd up-frame-header">
	   <label>修改头像(部分页面会有显示有延迟，刷新即可)</label>
	  <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
	</div>
	<div class="am-modal-bd  up-frame-body">
	  <div class="am-g am-fl">
		<div class="am-form-group am-form-file">
		  <div class="am-fl">
			<button type="button" class="am-btn am-btn-default am-btn-sm">
			  <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
		  </div>
		  <input type="file" id="inputImage">
		</div>
	  </div>
	  <div class="am-g am-fl" >
		<div class="up-pre-before up-frame-radius">
			<img alt="" src="" id="image" >
		</div>
		<div class="up-pre-after up-frame-radius">
		</div>
	  </div>
	  <div class="am-g am-fl">
		<div class="up-control-btns">
			<span class="am-icon-rotate-left"  onclick="rotateimgleft()"></span>
			<span class="am-icon-rotate-right" onclick="rotateimgright()"></span>
			<span class="am-icon-check" id="up-btn-ok" url="headupload"></span>
		</div>
	  </div>
	  
	</div>
  </div>
</div>

<!--加载框-->
<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
  <div class="am-modal-dialog">
	<div class="am-modal-hd">正在上传...</div>
	<div class="am-modal-bd">
	  <span class="am-icon-spinner am-icon-spin"></span>
	</div>
  </div>
</div>

<!--警告框-->
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
  <div class="am-modal-dialog">
	<div class="am-modal-hd">信息</div>
	<div class="am-modal-bd"  id="alert_content">
			  成功了
	</div>
	<div class="am-modal-footer">
	  <span class="am-modal-btn">确定</span>
	</div>
  </div>
</div>
</body>
</html>